ion-footer{
    ion-card{
        box-shadow: none;
        background:none;
        text-align: center;
        ion-card-title{
            font-size: 15px;
            color: #000;
            opacity: 40%;
        }
        .fab{
            color: #205CBE;
            font-size: 45px;
        }
    }
}