<ion-header>
</ion-header>
<ion-content>
  <ion-slides pager="true">
    <ion-slide>
      <ion-card>
        <i class="fab fa-buysellads"></i>
        <ion-card-title>BANK-A</ion-card-title>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <i class="fas fa-users"></i>
        <ion-card-title>LOREM IMPSUM</ion-card-title>
        <ion-card-content>Lorem Ipsum is simply dummy text of the printing and typesetting industry</ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <i class="fas fa-university"></i>
        <ion-card-title>LOREM IMPSUM</ion-card-title>
        <ion-card-content>Lorem Ipsum is simply dummy text of the printing and typesetting industry</ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <i class="fas fa-globe"></i>
        <ion-card-title>LOREM IMPSUM</ion-card-title>
        <ion-card-content>Lorem Ipsum is simply dummy text of the printing and typesetting industry</ion-card-content>
        <ion-button (click)="onclick()">Get Started</ion-button>
      </ion-card>
    </ion-slide>
  </ion-slides>
</ion-content>
